@import "Config";

.card {
    background-color: $bg_card_color;
    border: 1px solid $bg_card_color_border;
    font-family: arial;
    padding: 15px;
    margin: 5px;
    display: inline-block;
    width: $card_width;
    height: $card_height;
    border-radius: 10px;
  }

img {
    width: $img_width;
    height: $img_height;
    border-radius: 10px;
}

a:link {
    color: $link_color;
    text-decoration: none;
    float: right;
}