$bg_color: rgb(241, 241, 241);
$link_color: rgb(128, 0, 128);
$bg_card_color: rgb(245, 245, 245);
$bg_card_color_border : rgb(192, 192, 192);

/* linear-gradient(309deg, rgb(230, 172, 0) 0%, rgb(230, 172, 0) 90%); */


$card_width: 240px;
$card_height: 360px;
$img_width: 240px;
$img_height: 160px;