/*$primary_color: ;
$second_color: ;
$primary_text: ;
$secondary_text: ;
$hint_text: ;*/
$background_color: white;
$text_color: black;
$button_color: purple;

$large_font: 2rem;
$medium_font: 1rem;
$small_font: 0.8rem;

$img_width: 16rem;
$img_height: 19rem;

$button_height: 4rem;
$button_width: 16rem;