@import "typography";

h1{
    font-family: Play;
}

body {
    font-family: Open Sans;
    background-color: $background_color;
    margin:0;
    padding:0;

}

button {
    padding: 1rem;
    background-color: $second_color;
    color: white;
    border: solid 1px $second_color;
    border-radius: 0.5rem;
}

button:hover {
    color: $second_color;
    background-color: transparent;
    border: solid 1px $second_color;
}

a {
    text-decoration: none;
    color: $text_color;
}

ul li::marker {
    content: ""
}