---
import MainLayout from '../../layouts/MainLayout.astro';
import products from '../../data/games.json'; 

const { id } = Astro.params;

const product = products.find((p) => p.id === parseInt(id));
---

<MainLayout>
  {product ? (
    <>
      <h1>{product.title}</h1>
      {product.image && <img src={product.image} alt={product.title || "Product"} />}
      <p>{product.description}</p>
      <p>Prix: {product.price} €</p>
      <button>Ajouter au panier</button>
    </>
  ) : (
    <p>Produit non trouvé.</p>
  )}
</MainLayout>

