---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Header title="Header" paragraphe="Contenu introductif";></Header>
	<main>
		<Card name="Monkey D Luffy" url="https://c.tenor.com/Fc08jEorTWkAAAAC/one-piece-luffy.gif" 
		content=" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus." link="#"></Card>
	</main>
	<Footer title="Footer" paragraphe="Pied de la page";></Footer>
</Layout>

<!-- 
<style>
</style>-->
