---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout>

	<h1>Max: The Good Guy Chronicles</h1>

	<Card title="Mad Max" body="Max is very angry and annoyed: He's always complaining and it makes me so mad." href="#";>
	</Card>

	<Card title="Fat Guy" body="a person of greater than average size." href="#";>
	</Card>

	<Card title="Good Boy" body="An obedient male child, or someone who behaves like one, even when deemed inappropriate. Oh you're such a good boy, not reporting the crime because you didn't want to hurt anyone." href="#";>
	</Card>
</Layout>

<!-- 
<style>
</style>-->
