---
import MainLayout from '../layouts/MainLayout.astro';
import ProductCard from '../components/ProductCard.astro';
import products from '../data/games.json';
---

<MainLayout>
  <h1>Catalogue des Jeux Vidéo</h1>
  <div class="product-list">
    {products.map((product) => (
      <ProductCard title={product.title} price={product.price} image={product.image} />
    ))}
  </div>
</MainLayout>
