---
import '../styles/Card.scss';

interface Props {
	name: string;
	url: string;
	content: string;
	link: string; 
}

const { name, url, content, link } = Astro.props;
---

<div class="card">
	<h1>{name}</h1>
	<img src={url} />
	<p>{content}</p>
	<a href={link}>Read more</a> 
</div>

