---
import '../styles/footer.scss'
---

<footer class="footer">
  <div class="container">
    <div class="footer__section">
      <h3 class="footer__title">VG Store</h3>
    </div>

    <div class="footer__section">
      <h4 class="footer__heading">Purchase & Payment</h4>
      <ul class="footer__list">
        <li>Purchase & Delivery</li>
        <li>Support Hub</li>
        <li>Steam Game Activation</li>
        <li>Payment</li>
      </ul>
      <div class="footer__icons">
        <img src="/icons/visa.svg" alt="Visa" />
        <img src="/icons/mastercard.svg" alt="Mastercard" />
        <img src="/icons/paypal.svg" alt="Paypal" />
      </div>
    </div>

    <div class="footer__section">
      <h4 class="footer__heading">Information</h4>
      <ul class="footer__list">
        <li>About us</li>
        <li>News</li>
        <li>Blog</li>
        <li>Cashback</li>
        <li>Happy Hour</li>
        <li>Free Games</li>
      </ul>
    </div>

    <div class="footer__section">
      <h4 class="footer__heading">Contact</h4>
      <ul class="footer__list">
        <li>+48 000 000 000</li>
        <li>support@vgs.com</li>
        <li>inform@vgs.com</li>
      </ul>
      <div class="footer__icons">
        <img src="/icons/facebook.svg" alt="Facebook" />
        <img src="/icons/instagram.svg" alt="Instagram" />
        <img src="/icons/youtube.svg" alt="YouTube" />
        <img src="/icons/twitter.svg" alt="Twitter" />
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <p>&copy; 2021 Video Game Store | All rights reserved.</p>
  </div>
</footer>



<!--<footer>
  <div>
    <div></div>
    <div>
      <ul>
        <li><b>Purchase & Payment</b></li>
        <li>Purchase & Delivery</li>
        <li>Support Hub</li>
        <li>Steam Game Activation</li>
        <li>Payment</li> 
        <li>list de logo</li>
      </ul>
    </div>
    <div>
      <ul>
        <li><b>Information</b></li>
        <li>Abous us</li>
        <li>News</li>
        <li>Blog</li>
        <li>Cashback</li>
        <li>Happy Hour</li>
        <li>Free Games</li>
      </ul>
    </div>
    <div>
      <ul>
        <li><b>Contact</b></li>
        <li>+33 00 00 00 00 00</li>
        <li>Support@mail.com</li>
        <li>Information@mail.com</li>
        <li>list de logo</li>
      </ul>
    </div>
    <p>fleche vers le haut</p>
  </div>
    <p>&copy; 2024 Video Games Store | TITI Industry</p>
  </footer>
   -->