---
import '../styles/Footer.scss';

interface Props {
	title: string;
    paragraphe: string
}

const {title, paragraphe} = Astro.props;
---

<footer class="footer">
    <h2>{title}</h2>
    <p>{paragraphe}</p>
</footer>
