---
import '../styles/header.scss'
---

<header class="header">
  <div class="logo">PT Store</div>
  <nav class="navbar">
    <a href="/">Menu</a>
    <a href="/catalog">Catalog</a>
    <a href="/cart">Panier</a>
    <button class="free-games">Jeux Gratuits</button>
  </nav>
  <!--<div class="search">
    <input type="text" placeholder="Recherche..." />
    <button class="fas fa-search">
    </button>
  </div>
  <div class="profile_menu">
    <a href="/">Fr</a>
    <a class="fas fa-user" href="/profile"></a>
    <a class="fas fa-heart" href="/wishlist"></a>
    <a class="fas fa-cart" href="/cart"></a>
  </div>-->
</header>
