---
const { title, image, id } = Astro.props;
---
<div class="card" style={`background-image: url(${image}); center center no-repeat;
  background-size: 50rem;`}>
  <a href={`/articles/${id}`}>
    <h3>{title}</h3>
  </a>
</div>