---
import '../styles/header.scss'
---

<header class="header">
  <div class="logo">VG Store</div>
  <nav class="navbar">
    <a href="/">Menu</a>
    <a href="/catalog">Catalog</a>
    <a href="/">Preorder</a>
    <a href="/">Hot News</a>
    <a href="/cart">Happy Hour</a>
    <button class="free-games">Free Games</button>
  </nav>
  <div class="search">
    <input type="text" placeholder="Search..." />
    <button class="search-button">
      <img src="/icons/search.svg" alt="Search" />
    </button>
  </div>
  <div class="profile_menu">
    <a href="/">En</a>
    <a href="/profile">
      <img src="/icons/user.svg" alt="Profile" />
    </a>
    <a href="/wishlist">
      <img src="/icons/heart.svg" alt="Wishlist" />
    </a>
    <a href="/cart">
      <img src="/icons/cart.svg" alt="Cart" />
    </a>
  </div>
</header>
