---
import MainLayout from '../../layouts/MainLayout.astro';
import products from '../../data/games.json';

export async function getStaticPaths() {
  return products.map((product) => ({
    params: { id: product.id.toString() },
    props: { product },
  }));
}
const { product } = Astro.props;

if (!product) {
  throw new Error(`Article ${product} non trouvé`);
}
---
<MainLayout>
<div>
<div class="product__header">
  <img>
  <h1></h1>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <button></button>
</div>
<div class="product__about">
  <h2></h2>
  <div>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
  <iframe></iframe>
</div>
<div class="product__specification">
  <div class="minimum"></div>
  <div class="recommended"></div>
  <h3>suppoerted Languages</h3>
  <p>audio</p>
  <p>text:</p>
</div>
<div class="product__similar"></div>
</div>  
</MainLayout>