---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.scss';
---
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vente de Jeux Vidéo</title>
  </head>
  <body>
	<Navbar></Navbar>
    <main>
      <slot /> 
    </main>
    <Footer></Footer>
  </body>
</html>
